<% provide(:title, 'About Us') %>

<div class="row">
	<div class="span8 offset2">
    <h1>Observations and Measurements</h1>
    
    <p>Obme is a prototype data system for observing and measuring the real world.  The system has been designed with ecology (in particular trait-based ecology) in mind, but can be used anywhere in which entities are observed and traits of these entities are measured.  The key distinction between Obme and the typical way that people capture real world data is that trait-entity relationships and observation context are made explicit.</p>
  
    <h3>References</h3>
    
    
    <div class="list-group">
      <p class="list-group-item">
        <span class="badge">•</span>
Madin JS, Bowers S, Schildhauer M and Jones M (2008) Advancing ecological research with ontologies. Trends in Ecology and Evolution. 23:159-168.</p>
      <p class="list-group-item">
        <span class="badge">•</span>
        Bowers S, Madin JS and Schildhauer M (2008) A conceptual modeling framework for expressing observational data semantics. Lecture Notes in Computer Science.</p>
      <p class="list-group-item">
        <span class="badge">•</span>
        Madin JS, Bowers S, Schildhauer M, Krivov S, Pennington D and Villa F (2007) An ontology for describing and synthesizing ecological observational data. Ecological Informatics 2:279-296.</p>
      <p class="list-group-item">
        <span class="badge">•</span>
        The foundation for this web application (e.g., session and user models) was developed using Michael Hartl's ruby of rails tutorial.</p>
    </div>      
 
    
    <h3>To do</h3>
    
    <div class="list-group">
      <p class="list-group-item">
        <span class="badge">1</span>
        Measurement instances are not yet tied to a resource, which is a person, paper, intrument, etc. that observed an entity and measured a trait.</p>
        <p class="list-group-item">
          <span class="badge">2</span>
          Make sure observations and measurements line up properly when displaying data. [This is fixed although in a way that might slow things down for larger datasets...]</p>
    </div>

  </div>
</div>
