<div class="nested-fields">
  <div class="alert alert-warning">

    <%= f.hidden_field :project_id, :value => @project.id %>  
    <%= f.select :observation_id, @project.observations.collect {|a| [Entity.find(a.entity_id).entity_name, a.id]}, {:include_blank => 'Choose entity'}, class: "input-medium" %> has context:
    <%= f.select :has_context_id, @project.observations.collect {|a| [Entity.find(a.entity_id).entity_name, a.id]}, {:include_blank => 'Choose entity'}, class: "input-medium" %>
  
  	<p class="pull-right"><%= link_to_remove_association "remove", f %></p>
    
  </div>
</div>
