<div class="nested-fields">
  <div class="alert alert-danger">

    <%#= f.hidden_field :measurement_id, :value => :m %>    
  
	<p class="pull-right"><%= link_to_remove_association "remove", f %></p>
</div>
</div>


<!-- t.integer  "row_id"
t.integer  "measurement_id"
t.string   "value" -->
