<div class="nested-fields">
  <div class="alert alert-danger">

    <%= f.text_field :value, class: "input-large" %>
    <%#= f.text_field :measurement_id, class: "input-medium" %>
    <%= f.hidden_field :measurement_id %>  

    <p class="pull-right"><%#= link_to_remove_association "remove", f %></p>
  </div>
</div>
