<% provide(:title, "Edit project") %> 

<div class="row">
	<div class="span8 offset2">
		<%= render 'header' %>

		<h3>Edit Context</h3>

    <% if @project.observations.count > 1 %>
      <%= render 'context_form' %>
    <% else %>
      <div class="alert alert-danger">Can't add context because there are less than two defined observations.</div>
    <% end %>
		
    <%= link_to 'Undo', edit_context_project_path %> |
    <%= link_to 'Cancel', project_path %>
	</div>
</div>
