<% provide(:title, "Edit project") %> 

<div class="row">
	<div class="span8 offset2">
		<%= render 'header' %>

		<h3>Project Name</h3>
		
		<%= render 'form' %>
    
    <%= link_to 'Undo', edit_project_path %> |
    <%= link_to 'Cancel', project_path %>
	</div>
</div>
