<% provide(:title, "Edit project") %> 

<div class="row">
	<div class="span8 offset2">
		<%= render 'header' %>

		<h3>Edit Context</h3>

    <p>The entities that were observed provide context for other entities.  Define these nested contextual relationships here.</p>

    <% if @project.observations.count > 1 %>
      <%= render 'context_form' %>
    <% else %>
      <div class="alert alert-danger">You can't add context because fewer than two entities are captured in your model.</div>
    <% end %>
		
    <%= link_to 'Undo', edit_context_project_path %> |
    <%= link_to 'Cancel', project_path %>
	</div>
</div>
