<% provide(:title, "Edit row") %> 

<div class="row">
	<div class="span8 offset2">
		<%= render 'header' %>

		<h3>Edit Data</h3>

    <% temp = 0 %>
    <% @project.observations.each do |obs| %>
      <% temp = temp + obs.measurements.count %>
    <% end %>
		
    <% if temp > 0 %>
      <%= render 'row_form' %>
    <% else %>
      <div class="alert alert-danger">Can't add data because there are no defined measurements.</div>
    <% end %>
		
    
    <%= link_to 'Undo', edit_row_project_path %> |
    <%= link_to 'Cancel', project_path %>
	</div>
</div>
