<% provide(:title, "Edit context") %> 

<div class="row">
	<div class="span8 offset2">
		<h3>Observation Context</h3>
		
		<%= render 'context_form' %>

		<%#= link_to 'Back', user_path %>
	</div>
</div>
